<h4>URLs used by {{modelName}} Adapter</h4>

{{input value=modelName}}
<button {{action 'outputUrls'}}>Output Urls</button>
<br>
<div style='color: red;'>{{errorMessage}}</div>
<ul>
{{#each-in urls as |key value|}}
  <li>{{key}}, {{value.requestType}} {{value.url}}, {
    {{#each-in value.queries as |qkey qvalue|}}
      {{qkey}}: {{qvalue}}
    {{/each-in}}
  }
  </li>
{{/each-in}}
</ul>
