<h4>Choose a Model</h4>

<p>Available Models</p>
<ul>
{{#each model as |dataModel|}}
  <li {{action 'outputUrlsFor' dataModel.name}}>{{dataModel.name}}</li>
{{/each}}
</ul>

<h4>URLs used by {{modelName}} Adapter</h4>

<ul>
{{#each-in urls as |key value|}}
  <li>{{key}}, {{value.requestType}} {{value.url}}, {
    {{#each-in value.queries as |qkey qvalue|}}
      {{qkey}}: {{qvalue}}
    {{/each-in}}
  }
  </li>
{{/each-in}}
</ul>
